{% extends 'base.html' %}
{% load static from staticfiles %}


{% block content %}



    <!--<div class="col-md-12">-->
    <!--<img src="{% static 'all.PNG' %}" class="img-fluid" alt="Responsive image"/>-->
    <!--</div>-->

    <br>

    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'wally.PNG' %}" class="img-fluid" alt="Responsive image"/>
        </div>
        <div class="col-md-8">
            <ul>
                <p class="text-sm-left">
                    <p class="lead">Wally Roh </p>

                    <p class="text-monospace">
                        <li>Translator</li>
                        <li>Majoring in English Literature in Dankook University</li>
                        <li>Traveled through various countries in Latin America</li>
                        <li>ghostwally@gmail.com</li>
                    </p>
                </p>
            </ul>

        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'sein.PNG' %}" class="img-fluid" alt="Responsive image"/>
        </div>

        <div class="col-md-8">
            <ul>
                <p class="text-center">
                    <p class="lead">Sein Oh </p>

                    <li>Cultural class lead teacher</li>
                    <li>Majoring in Information Science</li>
                    <li>Have past experience with volunteering for teaching Korean and Korean culture to foreign people like Americans.</li>
                    <li>osein.32@gmail.com</li>

                </p>

            </ul>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'jaemin.JPG' %}" class="img-fluid" alt="Responsive image"/>
        </div>
        <div class="col-md-8">
            <ul>

                <p class="text-center">
                    <p class="lead">Jaemin Jung </p>

                    <li> Web Development lead teacher</li>
                    <li>Majoring in Economics and Computer Science</li>
                    <li>jaeminjung@hotmail.com</li>

                </p>

            </ul>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'bundo.jpg' %}" class="img-fluid" alt="Responsive image"/>
        </div>
        <div class="col-md-8">
            <ul>

                <p class="text-center">
                    <p class="lead">Bundo Lee </p>
                    <li>Python lead teacher</li>
                    <li>Majoring in Software in Dankook University</li>
                    <li>Have experience in teaching korean as a second language</li>
                    <li>leebundo815@gmail.com</li>

                </p>

            </ul>
        </div>
    </div>



{% endblock %}